---
- name: Apply Calico CNI
  hosts: master1
  become: yes
  gather_facts: yes

  tasks:
    - name: Apply Calico CNI directly from URL (ignore TLS cert errors)
      shell: kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.26.1/manifests/calico.yaml --validate=false
      environment:
        KUBECONFIG: /home/ubuntu/.kube/config
      register: calico_apply

    - name: Display Calico installation output
      debug:
        var: calico_apply.stdout_lines


